header a:hover {
    color: var(--primary-color);
}

.dropdown {
    position: relative;
}

.dropdown ul div {
    position: absolute;
}

.dropdown ul,
.dropdown ul div {
    transition: 0.2s ease-in-out;
}

.dropdown:not(.dropdown-active) ul div {
    top: 50%;
    opacity: 0;
    pointer-events: none;
}

.dropdown ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.dropdown ul div {
    background-color: white;
    color: #000;
    padding: 5px 7px;
    border: 1px solid #00000050;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.dropdown.dropdown-active ul div {
    top: 100%;
}

.dropdown.dropdown-active ul div li {
    border-radius: 5px;
    transition: 0.2s ease-in-out;
}

.dropdown.dropdown-active ul div li:hover {
    background-color: rgba(128, 128, 128, 0.212);
}

.burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4px;
    border-radius: 50%;
    padding: 8px;
    min-width: 38px;
    position: relative;
    width: 40px;
    height: 40px;
    outline: none;
    transition: all 0.3s;
    background-color: #df0971;
    rotate: 0;
}
.burger-menu:hover {
    background-color: #e71597;
}
.burger-menu.burger-close:hover {
    background-color: #df0970a4;
}
.burger-menu.burger-close {
    rotate: 90deg;
}
.burger-menu.burger-close span:first-child {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 3px;
    background-color: #fff;
    transform: translate(-50%, -50%) rotate(45deg);
}
.burger-menu.burger-close span:nth-child(2) {
    display: none;
}
.burger-menu.burger-close span:last-child {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 3px;
    background-color: #fff;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.burger-menu span {
    width: 90%;
    min-height: 3px;
    border-radius: 3px;
    background-color: #fff;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 22;
}
.header-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition: 0.4s ease;
    z-index: 21;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.8);
}

.header-popup.active {
    opacity: 1;
    pointer-events: all;
}

.header-popup .header-popup-active {
    transform: translateY(-100%);
    transition: 0.2s;
}
.header-popup .header-popup-active {
    margin-top: 92px;
    padding: 0 65px 20px 65px;
}
.header-popup.active .header-popup-active {
    transform: translateY(0);
    background-color: white;
}

header a:hover {
    text-decoration: none;
}
