.scroll-line {
    height: 5px;
    width: 100%;
    position: fixed;
    scale: 0 1;
    top: 0;
    z-index: 1111;
    background: linear-gradient(
        90deg,
        rgb(101, 93, 220) 13%,
        rgba(137, 137, 242, 1) 72%,
        rgb(0, 64, 255) 100%
    );
    transform-origin: center;

    animation: scroll-line linear;
    animation-timeline: scroll();
}

@keyframes scroll-line {
    to {
        scale: 1 1;
    }
}
