@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
    --width-container: 1272px;
    font-family: sans-serif;
    scroll-behavior: smooth;
    --primary-color: #df0467;
    scrollbar-color: var(--primary-color) transparent;
    scrollbar-width: thin;
}

body {
    background: var(--background);
    color: var(--foreground);
}

button {
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

svg,
img {
    pointer-events: none;
    user-select: none;
}
