.newsSection {
    padding: 20px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 70px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.newsGrid {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.newsCard {
    flex: 0 0 300px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-inline: 10px;
    text-decoration: none !important;
}

.imageWrapper {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info {
    padding: 15px;
}

.meta {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 14px;
    color: #6b7280;
}

.title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.description {
    font-size: 14px;
    color: #6b7280;
}

.date {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.views {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}
